@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@600&style=italic&display=swap');
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Noto Serif', sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

body {
    min-height: 100vh;
    background: url(/imagenes/pexels-sebastian-palomino-1955134.jpg) center / cover;
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra horizontalmente */
    margin: 0;               /* Elimina el margen predeterminado del body */
}


.table__header { /*Cuadrado de cristal donde se encuentra el titulo de la tabla */
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.115);
    padding: .3rem 1rem;
    display: flex;
    justify-content: space-between; /* Centrar horizontalmente */
    align-items: center;
}

.table__header h1 {
    margin: 0; 
    font-size: 30px;
    color: rgb(0, 0, 0);/* Elimina el margen predeterminado del h1 */
}
main.table {  /*Cuadrado de cristal donde se encuentra la tabla */
    width: 30vw;  /* Puedes ajustar este valor según tus necesidades */
    height: auto;
    background-color: rgba(255, 255, 255, 0.536);
    backdrop-filter: blur(7px); 
    box-shadow: 0 .4rem .8rem #0005; /*sombra*/
    border-radius: .8rem; /*bordes*/
    overflow: hidden; /*acomodar la tabla*/
}

.table__body {
    width: 70%;
    max-height: calc(85% - 1.6rem);
    background-color: rgba(255, 255, 255, 0.536); /*Color de fondo de la tabla*/

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{ /*Para ajustar la barra de navegacion horizontal*/
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 10%;
}


.inputBox input[type="submit"] {
    width: 100%;
    background: rgba(255, 255, 255, 0.585);
    color: rgb(15, 13, 13);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.inputBox input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
}
