<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Buscar Vehículo</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesTablaColumna.css">
	<link rel="stylesheet" href="/css/styleBotonRegreso.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="icon" href="/imagenes/Budget-Rent-a-Car-Logo-1993.png">
</head>

<body>

	<body style="background: url(/imagenes/nuevocliente.jpg) center / cover"></body>
	<main class="table">
		<section class="table__header">
			<h1>Datos Vehículo</h1>
		</section>
		<table class="table table-hover">
			<thead>
				<tr class="table-active">
					<th>
						<h5>Atributo</h5>
					</th>
					<th>
						<h5>Valor</h5>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Placa: </td>
					<td th:text="${vehiculo.placa}"></td>
				</tr>
				<tr>
					<td>Modelo: </td>
					<td th:text="${vehiculo.modelo}"></td>
				</tr>
				<tr>
					<td>Marca: </td>
					<td th:text="${vehiculo.marca}"></td>
				</tr>
				<tr>
					<td>Año Fabricación: </td>
					<td th:text="${vehiculo.anioFabricacion}"></td>
				</tr>
				<tr>
					<td>País Fabricación: </td>
					<td th:text="${vehiculo.paisFabricacion}"></td>
				</tr>
				<tr>
					<td>Cilindraje: </td>
					<td th:text="${vehiculo.cilindraje}"></td>
				</tr>
				<tr>
					<td>Avaluo del Vehículo: </td>
					<td th:text="${vehiculo.avaluoVehiculo}"></td>
				</tr>
				<tr>
					<td>Valor por día: </td>
					<td th:text="${vehiculo.valorPorDia}"></td>
				</tr>
				</tr>
				<tr>
					<td>¿Está en la agencia?: </td>
					<td th:text="${vehiculo.estado}"></td>
				</tr>
			</tbody>
		</table>
		</div>
		</section>
	</main>
	<form th:action="@{/menuPrincipal/mostrarMenuEmpleado}" method="GET">
		<button class="btn btn-outline-light back-button">Regresar a Menú Empleado</button>
	</form>
</body>

</html>